*.ipch
*.obj
*.o
*.sbr
*.obj
*.sbr
Debug/DynaRec.lib
Debug/DoubleHelix.vcxproj.FileListAbsolute.txt
Debug/DoubleHelix.tlog/rc.write.1.tlog
Debug/DoubleHelix.tlog/rc.read.1.tlog
Debug/DoubleHelix.tlog/rc.command.1.tlog
Debug/DoubleHelix.tlog/link.write.1.tlog
Debug/DoubleHelix.tlog/link.read.1.tlog
Debug/DoubleHelix.tlog/link.command.1.tlog
Debug/DoubleHelix.tlog/DoubleHelix.lastbuildstate
Debug/DoubleHelix.tlog/CL.write.1.tlog
Debug/DoubleHelix.tlog/CL.read.1.tlog
Debug/DoubleHelix.tlog/CL.command.1.tlog
Debug/DoubleHelix.tlog/bscmake.read.1.tlog
Debug/DoubleHelix.tlog/bscmake.command.1.tlog
Debug/DoubleHelix.pdb
Debug/DoubleHelix.map
Debug/DoubleHelix.log
Debug/DoubleHelix.exe.recipe
Debug/DoubleHelix.exe
Debug/DoubleHelix.Build.CppClean.log
Debug/DoubleHelix.bsc
.vs/DoubleHelix/v16/TestStore/0/testlog.manifest
.vs/DoubleHelix/v16/TestStore/0/000.testlog
.vs/DoubleHelix/v16/Solution.VC.db-wal
.vs/DoubleHelix/v16/Solution.VC.db-shm
.vs/DoubleHelix/v16/Solution.VC.db
.vs/DoubleHelix/v16/Browse.VC.opendb
.vs/DoubleHelix/v16/Browse.VC.db-wal
.vs/DoubleHelix/v16/Browse.VC.db-shm
.vs/DoubleHelix/v16/Browse.VC.db
.vs/DoubleHelix/v16/.suo
.vs/DoubleHelix/v14/.suo
